<?xml version="1.0" encoding="UTF-8"?>
<!--

    The BSD License

    Copyright (c) 2010-2012 RIPE NCC
    All rights reserved.

    Redistribution and use in source and binary forms, with or without
    modification, are permitted provided that the following conditions are met:
      - Redistributions of source code must retain the above copyright notice,
        this list of conditions and the following disclaimer.
      - Redistributions in binary form must reproduce the above copyright notice,
        this list of conditions and the following disclaimer in the documentation
        and/or other materials provided with the distribution.
      - Neither the name of the RIPE NCC nor the names of its contributors may be
        used to endorse or promote products derived from this software without
        specific prior written permission.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
    AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
    IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
    ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
    LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
    CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
    SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
    INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
    CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
    ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGE.

-->
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %highlight(%-5level) %logger{0} %msg%n</pattern>
        </encoder>
        <withJansi>true</withJansi>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${VALIDATOR_LOG_FILE}</file>
        <encoder>
            <pattern>%date %level\t[%thread] %logger{0} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${VALIDATOR_LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>

            <!--<maxHistory>30</maxHistory>-->
            <!--<totalSizeCap>3GB</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <appender name="RTR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${RTR_LOG_FILE}</file>
        <encoder>
            <pattern>%date %level \t%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${RTR_LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>

            <!--<maxHistory>30</maxHistory>-->
            <!--<totalSizeCap>3GB</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <logger name="net.ripe" level="INFO" />

    <logger name="RTR" level="INFO" additivity="false">
        <appender-ref ref="RTR_APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="RTR_APPENDER" />
        <!--<appender-ref ref="CONSOLE" />-->
    </root>
</configuration>
